<section class="block container">
  <header class="block__header">
    <h2>Starting at $10 per month</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, voluptate?
    </p>
  </header>
  <div class="input-group domain__search">
    <input type="text" class="input" placeholder="Enter domain name here" />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
      Search
    </button>
  </div>
  <div class="grid domain__grid--3x3 domain__badge">
    <span class="badge badge--secondary">.com $9 </span>
    <span class="badge">.sg $10</span>
    <span class="badge">.space $11</span>
    <span class="badge">.info $14</span>
    <span class="badge">.net %10</span>
    <span class="badge">.xyz $10</span>
  </div>
</section>
