<section class="block block--dark block--skewed-right">
  <header class="block__header">
    <h2>User-friendly Control Panel</h2>
  </header>
  <div class="container grid grid--1x2 showcase">
    <picture class="showcase__image">
      <source type="image/webp" srcset="images/ipad.webp" />
      <source type="image/png" srcset="images/ipad.png" />
      <img src="images/ipad.png" alt="ipad image" />
    </picture>
    <div class="showcase__content">
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#snap"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy Start & Managed Updates</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro alias
            tenetur autem nulla enim error eveniet nihil. Placeat, odio totam?
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#growth"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Staging, GIT & WP-CLI</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam
            nobis magni delectus recusandae dignissimos sunt repellat maxime
            minus autem ducimus!
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Dynamic Caching & More</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum
            quod officiis saepe excepturi, sit nulla eos. Nesciunt officiis
            atque odit!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
